html, body {
    height: 100%;
}

body {
    background: #1b0218 url('../img/background.png') no-repeat;
    background-size: 100%;
    font-family: "LatoLatinLight", Georgia;
    color: white;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

a {
    color: darkgray;
    text-decoration: none;
    font-weight: bold;
}

.ng-cloak {
    display: none;
}

.banner-container {
    margin: auto;
    text-align: center;
    margin-bottom: 100px;
}

.banner {
    width: 100%;
}

.info {
    margin-top: 20px;
    margin-bottom: 50px;
}

.info img {
    width: 100%;
}

.info .corner {
    background: url("../img/info-border.png") no-repeat;
    background-size: 100% 100%;
    height: 50px;
    float: left;
    width: 60%;
}

.info .top {
    float: left;
    width: 40%;
    height: 50px;
    background-color: #8e0582;
}

.info .main {
    background-color: #8e0582;
    width: 100%;
    min-height: 250px;
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Chrome */
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
}

.info .bottom-margin {
    background-color: #8e0582;
    height: 10px;
}

.footer-container {
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0;
    left: 0;
    border-top: 1px solid #8e0582;
    background-color: #1b0218;
}

.footer {
    width: 45%;
    margin: auto;
}

.icons {
    float: left;
}

.icons img {
    width: 25px;
    margin-right: 5px;
    margin-top: 10px;
}

.logo {
    float: right;
}

.logo img {
    height: 50px;
}

.twitter {
    flex-basis: 27%;
    margin-left: 15px;
    margin-right: 15px;
    float: left;
    text-align: center;
}

.twitter-icon {
    position: relative;
    background: url(../img/twitter-big.png) no-repeat;
    width: 40px;
    height: 40px;
    background-size: 100% 100%;
    margin: auto;
}

.twitter-text {
    padding-top: 15px;
    text-align: center;
}

.twitter-date {
    margin-top: 30px;
    font-weight: bolder;
}

.twitter-name {
    font-weight: bolder;
    font-size: medium;
    color: lightgray;
}

.news {
    padding-left: 15px;
    padding-right: 15px;
    flex-basis: 67%;
}

.news-text {
    text-align: left;
}

.news-author {
    text-align: left;
}

.splitter {
    float: left;
    height: 100%;
    border-left: 1px solid white;
    position: absolute;
}

@media all and (max-width: 992px) {
    .twitter,
    .news{
        flex-basis: 100%;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 10px;
    }

    .news{
        border-top: 1px solid white;
    }

    .footer-container {
        height: 80px;
    }

    .icons img {
        width: 60px;
        margin-right: 5px;
        margin-top: 10px;
    }

    .logo img {
        height: 80px;
    }
}
