<div class="modal-body">
	<aside ng-if="hasMany()" class="navigation">
		<span class="prev-arrow" ng-click="prev()"></span>
	</aside>
	<section>
		<div class="person-photo">
			<img ng-src="{{person().photo}}"/>
		</div>
		<section>
			<h1>{{person().fullName}}</h1>

			<div ng-bind-html="person().bio"></div>
		</section>
		<section>
			<h3 ng-repeat="presentation in person().presentations" class="presentation-title">
				{{presentation.title}}
			</h3>
		</section>
	</section>

	<aside ng-if="hasMany()" class="navigation">
		<span class="next-arrow" ng-click="next()"></span>
	</aside>
</div>