<div class="modal-body">
	<md-button class="md-icon-button close" ng-click="$close()"><md-icon>close</md-icon></md-button>
	<aside ng-if="hasMany()" class="navigation">
		<span class="prev-arrow" ng-click="prev()"></span>
	</aside>
	<section>
		<div class="img-speaker">
			<img class="img-responsive margin-auto"  ng-src="{{person().photo}}"
				 ng-class="{empty: person().photo == null}"

			>
		</div>
		<section>
			<div class="mcci-header ta-leftperson-name vote-person ng-binding">{{person().fullName}}</div>

			<div class="mcci-content" ng-bind-html="person().bio"></div>
		</section>
		<section>
			<a ng-repeat="presentation in person().presentations"
				 ui-sref="presentations({id: presentation.id})"
				 ng-click="$close()">
				<h3 class="presentation-title">
					{{presentation.title}}
				</h3>
			</a>
		</section>
	</section>

	<aside ng-if="hasMany()" class="navigation">
		<span class="next-arrow" ng-click="next()"></span>
	</aside>
</div>