@font-face {
    font-family: 'Bebas Neue';
    src:
         url('BebasNeue%20Regular.otf') format('otf'),
         url('BebasNeue%20Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
@font-face {
    font-family: 'Bebas Neue';
    src:
         url('BebasNeue%20Light.otf') format('otf'),
         url('BebasNeue%20Light.ttf') format('truetype');
    font-style: normal;
    font-weight: lighter;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Bebas Neue';
    src:
         url('BebasNeue%20Bold.otf') format('otf'),
         url('BebasNeue%20Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

