<div class="modal-body">
	<md-button class="md-icon-button close" ng-click="$close()">
		<md-icon>close</md-icon>
	</md-button>
	<article class="presentation">
		<section class="icons">
			<a ng-href="{{presentation.file}}" ng-if="presentation.file" target="_blank">
				<span class="icon icon-download"></span>
			</a>
		</section>
		<section class="presentation-info">
			<h2 class="presentation-title">{{presentation.title}}</h2>
			<span ng-bind-html="getDescription()"></span></section>
	</article>
</div>