<section id="news-confitura">
    <div class="row-fluid">
        <div class="col-lg-12 news-confitura-header"><h2>News</h2></div>
    </div>

    <div class="news-container col-lg-12" ng-controller="NewsCtrl as news">
        <news-item class="news-confitura-left font-white" item="news.list[0]"></news-item>
        <div class="news-confitura-right" ng-if="news.list.length > 1">
            <div class="semi-square black font-white">
                <news-item item="news.list[1]"></news-item>
            </div>
            <div class="semi-square beige" ng-if="news.list.length > 2">
                <news-item item="news.list[2]"></news-item>
            </div>
        </div>
    </div>

</section>
