<div class="page agenda" ng-controller="AgendaController as ctrl">
	<div class="logo"></div>
	<div class="header">
		<div class="header-color">
			<h1>Agenda</h1>
		</div>
		<div class="submenu">
			don't miss a thing
		</div>
	</div>
	<div class="content" id="agenda">
		<table ng-if="ctrl.agenda">
			<tr>
				<th class="time-column">
					<div class="room">godzina</div>
				</th>
				<th class="hidden-sm hidden-md hidden-lg rooms-navbar">
					<div class="room">
						<nav class="navbar">
							<div class="navbar-header">
								<a class="collapsed item navbar-toggle" data-toggle="collapse" data-target="#rooms-menu"
									 aria-expanded="false" aria-controls="navbar">
									{{ctrl.selected}}
								</a>

							</div>
							<div id="rooms-menu" class="navbar-collapse collapse">
								<ul class="nav navbar-nav">
									<li ng-repeat="room in ctrl.agenda.rooms">
										<a class="item"
											 ng-click="ctrl.select(room)"
											 data-toggle="collapse" data-target="#rooms-menu">{{room}}</a>
									</li>
								</ul>
							</div>
						</nav>
					</div>
				</th>
				<th ng-repeat="room in ctrl.agenda.rooms" class="hidden-xs">
					<div class="room">{{room}}</div>
				</th>
			</tr>
			<tr ng-repeat="slot in ctrl.agenda.slots" ng-class-even="'highlight'">
				<td>
					<div class="time">{{slot.start}} - {{slot.end}}</div>
				</td>
				<td ng-repeat="presentationInRoom in ctrl.getAllPresentationsForSlot(slot.id)"
						ng-class="{'all': presentationInRoom.room == 'ALL'}"
						class="presentation"
						colspan="{{ctrl.getRoomSpanFor(presentationInRoom)}}">
					<div>
						<span class="title" ng-click="ctrl.show(presentationInRoom.presentation)">
							{{presentationInRoom.presentation.title}}
						</span>
						<small ng-repeat="speaker in presentationInRoom.presentation.speakers" class="clearfix">
							<person for="speaker" text-only></person>
						</small>
					</div>
				</td>
			</tr>
		</table>
	</div>
	<div class="footer">
	</div>
</div>