<nav class="menu navbar navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<div ng-include="'views/icons.html'" class="visible-xs"></div>
			<a class="collapsed item navbar-toggle" data-toggle="collapse" data-target="#main-menu"
				 aria-expanded="false" aria-controls="navbar">
				Menu
			</a>
		</div>
		<div id="main-menu" class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li>
					<a ui-sref="main" ui-sref-active="active" data-toggle="collapse" data-target="#main-menu">Główna</a>
				</li>
				<li>
					<a ui-sref="agenda" ui-sref-active="active" data-toggle="collapse" data-target="#main-menu">Agenda</a>
				</li>
				<li>
					<a ui-sref="organizers" ui-sref-active="active" data-toggle="collapse" data-target="#main-menu">Kapituła</a>
				</li>
				<li>
					<a ui-sref="partners" ui-sref-active="active" data-toggle="collapse" data-target="#main-menu">Partnerzy</a>
				</li>
				<li>
					<a ui-sref="speakers" ui-sref-active="active" data-toggle="collapse" data-target="#main-menu">Prelegenci</a>
				</li>
				<li>
					<a ui-sref="presentations" ui-sref-active="active" data-toggle="collapse"
						 data-target="#main-menu">Prezentacje</a>
				</li>
				<li>
					<a href="http://c4p.confitura.pl" data-toggle="collapse" data-target="#main-menu">Strefa prelegenta</a></li>
				<li>
					<a href="mailto:confitura@confitura.pl" ui-sref-active="active" data-toggle="collapse"
						 data-target="#main-menu">Kontakt</a></li>
				<li>
					<a ui-sref="registration" ui-sref-active="active" data-toggle="collapse"
						 data-target="#main-menu">Rejestracja</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
