<nav class="menu navbar navbar-fixed-top">
    <div class="container">
        <ul class="nav navbar-nav">
            <li><a ui-sref="main" ui-sref-active="active">Główna</a></li>
            <li><a ui-sref="organizers" ui-sref-active="active">Kapituła</a></li>
            <li><a ui-sref="partners" ui-sref-active="active">Partnerzy</a></li>
            <li><a ui-sref="speakers" ui-sref-active="active">Prelegenci</a></li>
            <li><a ui-sref="presentations" ui-sref-active="active">Prezentacje</a></li>
            <li><a  href="http://c4p.confitura.pl">Strefa prelegenta</a></li>
            <li><a href="mailto:confitura@confitura.pl" ui-sref-active="active">Kontakt</a></li>
            <li><a ui-sref="registration" ui-sref-active="active">Rejestracja</a></li>
        </ul>
    </div>
</nav>