<div class="modal-body" style="display: flex;">
	<aside ng-if="hasMany()" class="navigation">
		<span class="prev-arrow" ng-click="prev()"></span>
	</aside>
	<section style="flex-grow: 1;">
		<div style="flex-basis: 250px; flex-grow: 0;">
			<div class="person-photo">
				<img ng-src="{{person().photo}}"/>
			</div>
		</div>
		<section>
			<h1>{{person().fullName}}</h1>

			<div ng-bind-html="person().bio"></div>
		</section>
	</section>

	<aside ng-if="hasMany()" class="navigation">
		<span class="next-arrow" ng-click="next()"></span>
	</aside>
</div>