<div class="page" ng-controller="PresentationsController as ctrl">
	<div class="logo"></div>
	<div class="header">
		<div class="header-color">
			<h1>prezentacje</h1>
		</div>
		<div class="submenu">
		</div>
	</div>
	<div class="content" id="presentations">
		<article ng-repeat="presentation in ctrl.presentations" id="{{presentation.id}}">
			<section class="icons">
				<a ng-href="{{presentation.file}}"
					 ng-if="presentation.file" target="_blank">
					<span class="icon icon-download"></span>
				</a>
			</section>
			<section class="presentation-info">
				<section class="speakers">
					<h3 ng-repeat="speaker in presentation.speakers" ng-click="ctrl.show(speaker)">
						{{speaker.fullName}}
					</h3>
				</section>
				<h1 class="presentation-title">{{presentation.title}}</h1>
				<span ng-bind-html="presentation.longDesc"></span></section>
		</article>
	</div>
	<div class="footer">
	</div>
</div>