<div ng-controller="VotingController as ctrl">
	<div class="v4p" hm-swipeleft="ctrl.next" hm-swiperight="ctrl.prev">
		<div ng-if="ctrl.notStarted()">
			<page name="v4p-start"></page>
			<div style="text-align: center;">
				<button class="btn btn-default btn-primary navbar-btn" ng-click="ctrl.start()">
					Zaczynajmy!
				</button>
			</div>
		</div>
		<div ng-if="ctrl.started()">

			<page name="v4p-end" ng-if="!ctrl.isActive()"></page>

			<div class="arrows" ng-if="ctrl.isActive()">
				<div>
					<h3 style="float: left">? - klawiszologia</h3>

					<h2 style="float: right;">
						<span style="margin-left: -90px;">{{ctrl.currentIdx()}}/{{ctrl.votes.length}}</span>
					</h2>
				</div>
			</div>
			<div class="vote" ng-class="direction"
					 ng-repeat="presentationVote in ctrl.votes"
					 ng-if="ctrl.isVisible($index)"
					 ng-include="'views/presentation.html'"
					></div>
		</div>
	</div>
	<div class="clearfix"></div>
</div>