@import "colors";

#partners.content {
  .partner {
    display: flex;
    padding-top: 30px;

    .partner-logo {

      flex-basis: 100%;
      flex-grow: 1;

      img {
        padding: 20px;
        background-color: #ffffff;
        border-radius: 10px;
        width: 100%;
      }
    }
    .partner-info {
      flex-grow: 1;
      padding-left: 10px;
      .partner-name {
        font-weight: bold;
      }
    }
  }
}

@media (max-width: @small-screen) {
  .partner {
    flex-direction: column;
    .partner-logo {
      border-bottom: solid #ffffff 2px;
      padding-bottom: 10px;
      max-width: 100%;
      min-width: 100%;

    }
  }

  .submenu {

    a.item.navbar-toggle {
      font-size: 200%;
      flex-grow: 1;
      text-align: center;
      padding: 0;
      margin: 0;
    }
    ul.nav {
      padding-left: 10px;
      padding-right: 10px;
    }
    #partners-menu {
      background-color: #000000;
    }
  }
}

@media (min-width: @small-screen) {
  .submenu {
    a.item {
      font-size: 200%;
    }
  }

  .partner {
    flex-direction: row;
    .partner-logo {
      max-width: 250px;
      min-width: 250px;
      padding-right: 10px;
      border-right: solid white 2px;
    }
  }
}
