.person-photo(@size) {
  cursor: pointer;
  overflow: hidden;
  margin: auto;
  border-radius: @size;
  width: @size;
  height: @size;

  img {
    width: @size;
    height: @size;
    background: url(../img/placeholder.png) no-repeat;
    background-size: 100%;
  }
}

.person (@size: 200px) {
  text-align: center;
  width: @size;
  margin-left: 5px;
  margin-right: 5px;
  .person-photo {
    .person-photo(@size)
  }

}

.person-modal-backdrop {
  opacity: .9 !important;
}

.person-modal {
  .modal-content {
    display: flex;
    justify-content: space-around;
    background: none;
    .modal-body {
      width: 100%;
      h1, h2{
        font-weight: bold;
      }
      .person-photo {
        .person-photo(300px);
      }
      h3.presentation-title {
        font-weight: bold;
        color: @main;
      }
    }
  }
}

.person {
  .person();

}

@media all and (max-width: @small-screen) {
  .person {
    .person(300px);
    h2 {
      font-size: 350%;
    }
  }
}

.persons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.persons-widget {
  background-color: @third;
  margin-top: 10px;
  margin-bottom: 50px;
  padding-top: 30px;
  .persons-widget-container {
    max-width: 900px;
    margin: auto;
    .slick-slider {
      margin-bottom: 0;
      .persons-in-widget {
        display: flex;
        justify-content: space-around
      }
    }
  }
}

// Animation
person {
  transition: all linear .5s;

  &.ng-enter,
  &.ng-leave.ng-leave-active {
    opacity: 0;
  }

  &.ng-enter.ng-enter-active,
  &.ng-leave {
    opacity: 1;
  }

  &.ng-enter-stagger {
    transition-delay: .1s;
    transition-duration: 0s;
  }
}